<plugin id="admob-mediation-suite" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>AdMob Mediation Suite</name>
    <description>Dynamic AdMob Mediation Manager for Android | iOS</description>
    <author>EMI INDO</author>
    <license>MIT</license>

    <preference name="ENABLE_FACEBOOK" default="false" />
    <preference name="ENABLE_APPLOVIN" default="false" />
    <preference name="ENABLE_UNITY" default="false" />
    <preference name="ENABLE_VUNGLE" default="false" />
    <preference name="ENABLE_IRONSOURCE" default="false" />

    <preference name="VER_ANDROID_FACEBOOK" default="6.16.0.0" />
    <preference name="VER_ANDROID_APPLOVIN" default="11.11.3.0" />
    <preference name="VER_ANDROID_UNITY" default="4.9.2.0" />
    <preference name="VER_ANDROID_VUNGLE" default="7.4.3.0" />
    <preference name="VER_ANDROID_IRONSOURCE" default="8.7.0.0" />
    

    <preference name="VER_IOS_FACEBOOK" default="6.12.0.0" />
    <preference name="VER_IOS_APPLOVIN" default="11.11.3.0" />
    <preference name="VER_IOS_UNITY" default="4.9.0.0" />
    <preference name="VER_IOS_VUNGLE" default="7.4.4.0" />
    <preference name="VER_IOS_IRONSOURCE" default="8.7.0.0.0" />

    <preference name="KEY_APPLOVIN" default="" />

    <hook type="after_prepare" src="src/scripts/dynamic_injector.js" />

    <platform name="android"></platform>
    <platform name="ios"></platform>
</plugin>